@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    background-color: black;
}

.background {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 3;
    
}